@charset "UTF-8";

#onto-container {
	height: 100%;
	border: 1px solid darkgrey;
	display: flex;
	margin: 10px;
	flex-direction: column;
}

#onto-container .ontodia {
	overflow: hidden;
}

.content-inner.fullscreen #onto-container {
	height: 100%;

}

.ontodia-paper-area__watermark {
	display: none !important;
}

.ontodia-toolbar__language-selector label {
	margin-left: 10px;
}

.ontodia-toolbar button::after {
	content: " "
}

.disgeo-map {
	border: 1px solid darkgrey;
}

.disgeo-map .title {
	overflow-wrap: anywhere;
	padding: 4px;
	color: darkgray;
	border-bottom: 1px solid;
}

.geo_point {
	height: 300px;
	width: 300px;
}